/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 * To use home rows - &hm LSHFT F
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "fr-2-mac.h"

#define QWERTY 0
#define NUMB 1
#define NAVI 2
#define ADJUST 3

/ {

    behaviors {        
        hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <150>;
        quick_tap_ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
        };
    };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
// .--------------------------------------------------------------.       .-----------------------------------------------------------.
// |   ESC        |    A    |    Z   |   E    |    R    |    T    |       |   Y   |    U    |    I    |    O    |     P    |    \     |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   CTRL/Tab   |    Q    |    S   |   D    |    F    |    G    |       |   H   |    J    |    K    |    L    |     M    |     '    |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   SHFT       |    W    |    X   |   C    |    V    |    B    |       |   N   |    ,    |    ;    |    :    |     =    | ` | ALT  |
// '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
//                                   |  GUI   |   MO1   |   ENT   |       |  SPC  |   BKSP  |  CAPS   |
//                                   '--------+---------+---------'       '-------+---------+---------'
                        bindings = <
   &kp ESC        &kp FR_A       &kp FR_Z      &kp FR_E         &kp FR_R           &kp FR_T   &kp FR_Y  &kp FR_U           &kp FR_I        &kp FR_O     &kp FR_P        &kp BACKSLASH
   &mt LCTRL TAB  &kp FR_Q       &kp FR_S      &kp FR_D         &kp FR_F           &kp FR_G   &kp FR_H  &kp FR_J           &kp FR_K        &kp FR_L     &kp FR_M        &kp SQT
   &kp LSHFT      &hm LSHFT FR_W &hm LALT FR_X &hm LCTRL FR_C   &hm LCMD FR_V      &kp FR_B   &kp FR_N  &hm RCMD FR_M      &hm RCTRL COMMA &hm RALT DOT &hm RSHFT FSLH  &mt RALT GRAVE
                                                                                                        
                  &kp LGUI    &mo 1   &kp SPACE     &kp RET       &lt NAVI BSPC    &kp CAPSLOCK
                        >;
                };
        
                lower_layer {
// .--------------------------------------------------------------.       .-----------------------------------------------------------.
// |   ESC        |    1    |    2   |   3    |    4    |    5    |       |   6   |    7    |    8    |    9    |     0    |    `     |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |              |    !    |    @   |   #    |    $    |    %    |       |   ^   |    &    |    *    |    (    |     )    |     :    |
// |--------------+---------+--------+--------+---------+---------|       |-------+---------+---------+---------+----------+----------|
// |   SHFT       |    |    |    [   |   ]    |    {    |    }    |       |   ]   |    }    |    =    |    _    |          |          |
// '---------------------------------+--------+---------+---------+       |-------+---------+---------+-------------------------------'
//                                   |  GUI   |         |   MO3   |       |   ,   |    .    |   ?     |
//                                   '--------+---------+---------'       '-------+---------+---------'
                        bindings = <
   &trans     &kp FR_EXCL  &kp FR_AT           &kp FR_HASH              &kp DLLR             &kp PRCNT                        &kp CARET                &kp AMPS                   &kp KP_MULTIPLY        &kp LPAR                 &kp RPAR   &kp COLON
   &kp ESC    &kp FR_N1    &kp FR_N2           &kp FR_N3                &kp FR_N4            &kp FR_N5                        &kp FR_N6                &kp FR_N7                  &kp FR_N8              &kp FR_N9                &kp FR_N0  &kp GRAVE
   &kp LSHFT  &kp FR_PIPE  &kp FR_LEFT_BRACKET &kp FR_RIGHT_BRACKET     &kp FR_LEFT_BRACE    &kp FR_RIGHT_BRACE               &kp FR_RIGHT_BRACKET     &kp RIGHT_BRACE            &kp KP_EQUAL           &kp UNDERSCORE           &trans     &trans
                                        &kp LGUI           &trans               &mo ADJUST           &kp KP_N1                &kp KP_N2                  &kp KP_N3
                        >;
                };
                
                raise_layer {
// .----------------------------------------------------------------.       .-----------------------------------------------------------------.
// |   CMD+SHIFT+4  |       |   PU   |   UP   |    PD    |   HOME   |       |  HOME   |    PU    |    UP   |   PD    |          | CMD+SHIFT+4 |
// |----------------+-------+--------+--------+----------+----------|       |---------+----------+---------+---------+----------+-------------|
// |                |       |  LEFT  |  DOWN  |   RIGHT  |   END    |       |  END    |   LEFT   |   DOWN  |  RIGHT  |          |             |
// |----------------+-------+--------+--------+----------+----------|       |---------+----------+---------+---------+----------+-------------|
// |     OUT_TOG    |       |        |        |CTRL+LEFT |CTRL+RIGHT|       |CTRL+LEFT|CTRL+RIGHT|         |         |          |   OUT_TOG   |
// '---------------------------------+--------+----------+----------+       |---------+----------+---------+----------------------------------'
//                                   |  GUI   |   MO3    |          |       |         |          |         |
//                                   '--------+----------+----------'       '---------+----------+---------'

                        bindings = <
   &kp LG(LS(N4))  &trans     &kp PAGE_UP        &kp UP_ARROW      &kp PAGE_DOWN       &kp HOME                &kp CARET            &kp PAGE_UP             &kp UP_ARROW       &kp PAGE_DOWN      &kp HOME     &kp LG(LS(N4))
   &trans          &trans     &kp LEFT_ARROW     &kp DOWN_ARROW    &kp RIGHT_ARROW     &kp END                 &kp MINUS            &kp LEFT_ARROW          &kp DOWN_ARROW     &kp RIGHT_ARROW    &kp END      &trans
   &out OUT_TOG    &trans     &trans             &trans            &kp LC(LEFT_ARROW)  &kp LC(RIGHT_ARROW)     &kp LC(LEFT_ARROW)   &kp LC(RIGHT_ARROW)     &trans             &trans             &trans       &out OUT_TOG
                              &kp LGUI           &mo ADJUST        &trans              &trans     &trans   &trans
                        >;
                };

                adjust_layer {
// .--------------------------------------------------------.       .--------------------------------------------------------------.
// |         |        |        |        |         |         |       |  VOL+  |        |         |         |          |             |
// |---------+--------+--------+--------+---------+---------|       |--------+--------+---------+---------+----------+-------------|
// |  BTCLR  |  BT1   |  BT2   |  BT3   |  BT4    |  BT5    |       |  VOL-  |        |         |         |          |             |
// |---------+--------+--------+--------+---------+---------|       |--------+--------+---------+---------+----------+-------------|
// |         |        |        |        |         |         |       |        |        |         |         |          |             |
// '---------------------------+--------+---------+---------+       |--------+--------+---------+----------------------------------'
//                             |        |         |         |       |        |        |         |
//                             '--------+---------+---------'       '--------+--------+---------'

                        bindings = <
   &trans      &trans          &trans         &trans          &trans          &trans            &kp C_VOLUME_UP    &trans &trans &trans &trans &trans
   &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 1   &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4      &kp C_VOLUME_DOWN  &trans &trans &trans &trans &trans
   &trans      &trans          &trans         &trans          &trans          &trans            &trans             &trans &trans &trans &trans &trans
                                   &trans &trans &trans   &trans &trans &trans
                        >;
                };
        };
};
